Repository gabrielscaranello/clean-arch-react-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: create alias for vue-app
  packages/vue-app/src/App.vue
  packages/vue-app/src/components/statefull/form/form-wrapper.vue
  packages/vue-app/src/composition/controllers/load-address-by-zip-code.factory.ts
  packages/vue-app/tsconfig.json
  packages/vue-app/vite.config.mts
Due: eslint --fix, prettier --write

feat: implements store for vue
  packages/vue-app/package.json
  packages/vue-app/src/components/statefull/form/form-wrapper.vue
  packages/vue-app/src/controllers/load-address-by-zip-code/load-address-by-zip-code.controller.ts
  packages/vue-app/src/controllers/load-address-by-zip-code/types.ts
  packages/vue-app/src/main.ts
  packages/vue-app/src/store/address.store.ts
  packages/vue-app/src/store/index.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: add validation to throw if results if erro
  packages/core/src/infra/gateways/via-cep/contracts.ts
  packages/core/src/infra/gateways/via-cep/via-cep.gateway.ts
  packages/core/tests/infra/via-cep-gateway.spec.ts
  packages/vue-app/src/controllers/load-address-by-zip-code/load-address-by-zip-code.controller.ts
Due: eslint --fix, prettier --write

feat: add view to show result
  packages/vue-app/.eslintrc.cjs
  packages/vue-app/package.json
  packages/vue-app/src/App.vue
  packages/vue-app/src/components/statefull/index.ts
  packages/vue-app/src/components/statefull/page-title/index.ts
  packages/vue-app/src/components/statefull/page-title/page-title.vue
  packages/vue-app/src/components/statefull/result/index.ts
  packages/vue-app/src/components/statefull/result/result-wrapper.vue
  packages/vue-app/src/components/stateless/index.ts
  packages/vue-app/src/components/stateless/list/index.ts
  packages/vue-app/src/components/stateless/list/list-item.vue
  packages/vue-app/src/components/stateless/list/list-wrapper.vue
  packages/vue-app/src/scss/_page-title.scss
  packages/vue-app/src/scss/_result-container.scss
  packages/vue-app/src/scss/app.scss
  packages/vue-app/vite.config.mts
  yarn.lock
Due: eslint --fix, prettier --write

feat: add clean button on input
  packages/vue-app/src/components/stateless/input/input-field.vue
  packages/vue-app/vite.config.mts
Due: prettier --write

feat: add error validation on field
  packages/core/src/index.ts
  packages/vue-app/.eslintrc.cjs
  packages/vue-app/src/components/statefull/form/form-wrapper.vue
  packages/vue-app/src/components/stateless/input/input-field.vue
  packages/vue-app/src/composition/controllers/load-address-by-zip-code.factory.ts
  packages/vue-app/src/controllers/load-address-by-zip-code/load-address-by-zip-code.controller.ts
  packages/vue-app/src/controllers/load-address-by-zip-code/types.ts
Due: eslint --fix, prettier --write

refactor: translate errors
  packages/core/src/presentation/errors/index.ts
  packages/core/src/presentation/errors/invalid-length.error.ts
  packages/core/src/presentation/errors/missing-param.error.ts
  packages/core/src/presentation/errors/required-field.error.ts
  packages/core/src/presentation/validation/validators/length.validator.ts
  packages/core/src/presentation/validation/validators/required-field.validation.ts
  packages/core/tests/presentation/validation/validators/length-validation.spec.ts
  packages/core/tests/presentation/validation/validators/required-field-validation.spec.ts
Due: eslint --fix, prettier --write

feat: disable submit on loading
  packages/vue-app/src/components/statefull/form/form-wrapper.vue
  packages/vue-app/src/controllers/load-address-by-zip-code/load-address-by-zip-code.controller.ts
  packages/vue-app/src/controllers/load-address-by-zip-code/types.ts
Due: eslint --fix, prettier --write

feat: complete vue project
  packages/vue-app/src/components/statefull/result/result-wrapper.vue
  packages/vue-app/src/components/stateless/callout/callout-wrapper.vue
  packages/vue-app/src/components/stateless/callout/index.ts
  packages/vue-app/src/components/stateless/index.ts
  packages/vue-app/src/components/stateless/input/input-field.vue
  packages/vue-app/src/components/stateless/list/list-item.vue
  packages/vue-app/src/components/stateless/list/list-wrapper.vue
  packages/vue-app/src/components/stateless/progress/index.ts
  packages/vue-app/src/components/stateless/progress/loading-progress.vue
  packages/vue-app/src/controllers/load-address-by-zip-code/load-address-by-zip-code.controller.ts
  packages/vue-app/src/scss/_callout.scss
  packages/vue-app/src/scss/_progress.scss
  packages/vue-app/src/scss/_result-container.scss
  packages/vue-app/src/scss/_variables.scss
  packages/vue-app/src/scss/app.scss
  packages/vue-app/src/store/address.store.ts
Due: eslint --fix, prettier --write

refactor: move styles file to separete project
  packages/styles/package.json
  packages/styles/src/_callout.scss
  packages/styles/src/_form-container.scss
  packages/styles/src/_page-title.scss
  packages/styles/src/_progress.scss
  packages/styles/src/_reset.scss
  packages/styles/src/_result-container.scss
  packages/styles/src/_variables.scss
  packages/styles/src/app.scss
  packages/styles/tsconfig.json
  packages/vue-app/package.json
  packages/vue-app/src/main.ts
  packages/vue-app/tsconfig.json
  packages/vue-app/vite.config.mts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

fix: project issues
  packages/core/src/main/factories/gateways/via-cep-gateway.factory.ts
  packages/vue-app/src/controllers/load-address-by-zip-code/load-address-by-zip-code.controller.ts
  packages/vue-app/src/store/address.store.ts
  packages/vue-app/vite.config.mts
Due: eslint --fix, prettier --write

refactor: use dotenv to setup variables
  .env
  package.json
  packages/core/src/env.d.ts
  packages/core/src/main/factories/gateways/via-cep-gateway.factory.ts
  packages/vue-app/.env.d.ts
  tsconfig.base.json
  yarn.lock
Due: eslint --fix, prettier --write

chore: configure react app
  .prettierrc
  package.json
  packages/react-app/.eslintrc.cjs
  packages/react-app/.gitignore
  packages/react-app/index.html
  packages/react-app/package.json
  packages/react-app/public/react.svg
  packages/react-app/src/App.tsx
  packages/react-app/src/main.tsx
  packages/react-app/tsconfig.json
  packages/react-app/tsconfig.node.json
  packages/react-app/vite.config.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: create react button component
  packages/react-app/src/components/stateless/button/button.tsx
  packages/react-app/src/components/stateless/button/index.ts
  packages/react-app/src/components/stateless/button/types.ts
  packages/react-app/src/components/stateless/index.ts
  packages/react-app/src/md-components.d.ts
Due: eslint --fix, prettier --write

feat: create react callout component
  packages/react-app/src/components/stateless/callout/callout.tsx
  packages/react-app/src/components/stateless/callout/index.ts
  packages/react-app/src/components/stateless/callout/types.ts
  packages/react-app/src/md-components.d.ts
Due: eslint --fix, prettier --write

refactor: simplify meterial design definition
  packages/react-app/src/md-components.d.ts
Due: eslint --fix, prettier --write

feat: create react input component
  packages/react-app/src/components/stateless/index.ts
  packages/react-app/src/components/stateless/input/index.ts
  packages/react-app/src/components/stateless/input/input.tsx
  packages/react-app/src/components/stateless/input/types.ts
  packages/react-app/src/md-components.d.ts
Due: eslint --fix, prettier --write

feat: create react list component
  packages/react-app/src/components/stateless/index.ts
  packages/react-app/src/components/stateless/list-item/index.ts
  packages/react-app/src/components/stateless/list-item/list-item.tsx
  packages/react-app/src/components/stateless/list-item/types.ts
  packages/react-app/src/components/stateless/list/index.ts
  packages/react-app/src/components/stateless/list/list.tsx
  packages/react-app/src/md-components.d.ts
Due: eslint --fix, prettier --write

feat: create react progress component
  packages/react-app/src/components/stateless/index.ts
  packages/react-app/src/components/stateless/progress/index.ts
  packages/react-app/src/components/stateless/progress/progress.tsx
  packages/react-app/src/md-components.d.ts
Due: eslint --fix, prettier --write

feat: create react PageTitle component
  packages/react-app/src/App.tsx
  packages/react-app/src/components/statefull/index.ts
  packages/react-app/src/components/statefull/page-title/index.ts
  packages/react-app/src/components/statefull/page-title/page-title.tsx
Due: eslint --fix, prettier --write

feat: make react initial composition
  packages/react-app/.eslintrc.cjs
  packages/react-app/package.json
  packages/react-app/src/App.tsx
  packages/react-app/src/components/statefull/form/form.tsx
  packages/react-app/src/components/statefull/form/index.ts
  packages/react-app/src/components/statefull/index.ts
  packages/react-app/src/components/stateless/button/button.tsx
  packages/react-app/src/components/stateless/button/types.ts
  packages/react-app/src/components/stateless/input/input.tsx
  packages/react-app/src/components/stateless/input/types.ts
  packages/react-app/src/composition/controllers/index.ts
  packages/react-app/src/composition/controllers/load-address-by-zip-code.factory.ts
  packages/react-app/src/composition/index.ts
  packages/react-app/src/controllers/index.ts
  packages/react-app/src/controllers/load-address-by-zip-code/index.ts
  packages/react-app/src/controllers/load-address-by-zip-code/load-addrress-by-zip-code.controller.ts
  packages/react-app/src/controllers/load-address-by-zip-code/types.ts
  packages/react-app/src/md-components.d.ts
  packages/react-app/src/store/address.store.ts
  packages/react-app/src/store/index.ts
  packages/react-app/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

feat: complete react layout
  packages/react-app/.env
  packages/react-app/package.json
  packages/react-app/src/App.tsx
  packages/react-app/src/components/statefull/index.ts
  packages/react-app/src/components/statefull/result/index.ts
  packages/react-app/src/components/statefull/result/result.tsx
  packages/react-app/src/components/stateless/button/button.tsx
  packages/react-app/src/components/stateless/callout/callout.tsx
  packages/react-app/src/components/stateless/callout/types.ts
  packages/react-app/src/components/stateless/input/input.tsx
  packages/react-app/src/components/stateless/list-item/list-item.tsx
  packages/react-app/src/components/stateless/list/list.tsx
  packages/react-app/src/components/stateless/progress/progress.tsx
  packages/react-app/src/main.tsx
  packages/react-app/src/theme.ts
  yarn.lock
Due: eslint --fix, prettier --write

chore: remove unused dependencies
  packages/react-app/package.json
  packages/react-app/src/md-components.d.ts
  yarn.lock
Due: eslint --fix, prettier --write

style: update styles of list
  packages/react-app/src/components/stateless/list-item/list-item.tsx
  packages/react-app/src/theme.ts
  packages/styles/src/_page-title.scss
Due: eslint --fix, prettier --write

refactor: use vuetify on vue version
  packages/react-app/src/components/stateless/progress/progress.tsx
  packages/react-app/vite.config.ts
  packages/styles/src/_callout.scss
  packages/styles/src/_page-title.scss
  packages/styles/src/_result-container.scss
  packages/styles/src/app.scss
  packages/vue-app/.env
  packages/vue-app/components.d.ts
  packages/vue-app/package.json
  packages/vue-app/src/components/statefull/result/result-wrapper.vue
  packages/vue-app/src/components/stateless/button/default-button.vue
  packages/vue-app/src/components/stateless/callout/callout-wrapper.vue
  packages/vue-app/src/components/stateless/input/input-field.vue
  packages/vue-app/src/components/stateless/list/list-item.vue
  packages/vue-app/src/components/stateless/list/list-wrapper.vue
  packages/vue-app/src/components/stateless/progress/loading-progress.vue
  packages/vue-app/src/main.ts
  packages/vue-app/vite.config.mts
  yarn.lock
Due: eslint --fix, prettier --write

chore: remove unused packages
  package.json
  packages/vue-app/package.json
  yarn.lock
Due: prettier --write

refactor: move plugin creation to plugins layer
  packages/vue-app/src/main.ts
  packages/vue-app/src/plugins/index.ts
  packages/vue-app/src/plugins/pinia.ts
  packages/vue-app/src/plugins/vuetify.ts
Due: eslint --fix, prettier --write

style: change theme configuration
  packages/styles/src/_callout.scss
  packages/styles/src/_page-title.scss
  packages/styles/src/_result-container.scss
  packages/styles/src/_variables.scss
  packages/styles/src/app.scss
  packages/vue-app/src/plugins/vuetify.ts
Due: eslint --fix, prettier --write

refactor: change theme of callout
  packages/react-app/src/theme.ts
  packages/vue-app/package.json
  packages/vue-app/src/components/stateless/callout/callout-wrapper.vue
  packages/vue-app/src/plugins/vuetify.ts
  yarn.lock
Due: eslint --fix, prettier --write

style: unify style of result
  packages/styles/src/_page-title.scss
  packages/styles/src/_result-container.scss
  packages/styles/src/app.scss
Due: none

refactor: simplify module and usecase usage
  packages/core/src/index.ts
  packages/core/src/main/factories/controllers/index.ts
  packages/core/src/main/factories/controllers/remote-load-address-by-zip-code-controller.factory.ts
  packages/core/src/main/factories/index.ts
  packages/core/src/main/factories/modules/index.ts
  packages/core/src/main/factories/modules/load-address-by-zipcode.ts
  packages/core/src/main/factories/usecases/load-address-by-zip-code.factory.ts
  packages/core/src/presentation/contracts/controller.ts
  packages/core/src/presentation/contracts/index.ts
  packages/core/src/presentation/controllers/address/index.ts
  packages/core/src/presentation/controllers/address/remote-load-address-by-zip-code.controller.ts
  packages/core/src/presentation/controllers/index.ts
  packages/core/src/presentation/index.ts
  packages/core/tests/presentation/controllers/load-address-by-zip-code-controller.spec.ts
  packages/react-app/src/components/statefull/form/form.tsx
  packages/react-app/src/composition/controllers/index.ts
  packages/react-app/src/composition/controllers/load-address-by-zip-code.factory.ts
  packages/react-app/src/composition/index.ts
  packages/react-app/src/controllers/load-address-by-zip-code/load-addrress-by-zip-code.controller.ts
  packages/react-app/src/controllers/load-address-by-zip-code/types.ts
  packages/vue-app/src/components/statefull/form/form-wrapper.vue
  packages/vue-app/src/composition/controllers/index.ts
  packages/vue-app/src/composition/controllers/load-address-by-zip-code.factory.ts
  packages/vue-app/src/composition/index.ts
  packages/vue-app/src/controllers/load-address-by-zip-code/load-address-by-zip-code.controller.ts
  packages/vue-app/src/controllers/load-address-by-zip-code/types.ts
Due: eslint --fix, prettier --write

chore: remove unneeded dependencies
  packages/core/package.json
  packages/styles/package.json
  yarn.lock
Due: prettier --write

chore: add build scripts
  package.json
  packages/react-app/package.json
Due: prettier --write

docs: add run project instructions
  README-ptbr.md
  README.md
Due: prettier --write

docs: add build instructions
  README-ptbr.md
  README.md
Due: prettier --write

fix(docs): typo error
  README-ptbr.md
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{ts,mts,md,json}
