Repository gabrielscaranello/clean-arch-react-vue: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": ["eslint --fix"],
  "*.{ts,mts,md,json}": ["prettier --write"]
}

chore: configure tspaths
  tsconfig.json
Due: prettier --write

chore: remove trash files
  packages/core/src/.gitkeep
  packages/core/src/main.ts
  packages/core/src/test.spec.ts
  packages/vue/src/.gitkeep
  packages/vue/src/main.ts
Due: eslint --fix, prettier --write

feat: implements RemoteLoadAddress with stub
  packages/core/src/.gitkeep
  packages/core/src/data/usecases/index.ts
  packages/core/src/data/usecases/remote-load-address-by-zipcode.ts
  packages/core/src/domain/index.ts
  packages/core/src/domain/models/address.model.ts
  packages/core/src/domain/models/index.ts
  packages/core/src/domain/usecases/index.ts
  packages/core/src/domain/usecases/load-address-by-zipcode.ts
  packages/core/tests/data/usecases/remote-load-address-by-zipcode.spec.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: add @faker-js
  package.json
  yarn.lock
Due: prettier --write

refactor: move mocks creation to helpers and use faker
  packages/core/src/domain/models/address.model.ts
  packages/core/tests/data/usecases/remote-load-address-by-zipcode.spec.ts
  tests/mocks/domain/index.ts
  tests/mocks/domain/models/address.mock.ts
  tests/mocks/domain/models/index.ts
  tests/mocks/domain/usecases/index.ts
  tests/mocks/domain/usecases/lock-address-by-zipcode.stub.ts
  tests/mocks/faker/faker.ts
  tests/mocks/faker/index.ts
  tsconfig.json
  vitest.config.mts
Due: eslint --fix, prettier --write

feat: create length validation
  packages/core/src/presentation/contracts/index.ts
  packages/core/src/presentation/contracts/validation.ts
  packages/core/src/presentation/errors/index.ts
  packages/core/src/presentation/errors/invalid-length.error.ts
  packages/core/src/presentation/validation/index.ts
  packages/core/src/presentation/validation/validators/index.ts
  packages/core/src/presentation/validation/validators/length.validator.ts
  packages/core/tests/presentation/validation/validators/length-validation.spec.ts
  tests/mocks/faker/faker-unique.ts
  tests/mocks/faker/index.ts
Due: eslint --fix, prettier --write

feat: create required field validation
  packages/core/src/presentation/errors/index.ts
  packages/core/src/presentation/errors/missing-param.error.ts
  packages/core/src/presentation/validation/validators/index.ts
  packages/core/src/presentation/validation/validators/required-field.validation.ts
  packages/core/tests/presentation/validation/validators/required-field-validation.spec.ts
Due: eslint --fix, prettier --write

feat: create validation composite
  packages/core/src/presentation/validation/validators/index.ts
  packages/core/src/presentation/validation/validators/validation-composite.ts
  packages/core/tests/presentation/validation/validators/validation-composite.spec.ts
  tests/mocks/presentation/index.ts
  tests/mocks/presentation/validation.stub.ts
Due: eslint --fix, prettier --write

feat: add helper to validation composite
  packages/core/src/main/helpers/index.ts
  packages/core/src/main/helpers/validation/contracts.ts
  packages/core/src/main/helpers/validation/index.ts
  packages/core/src/main/helpers/validation/validation.ts
  packages/core/tests/main/helpers/validation.spec.ts
Due: eslint --fix, prettier --write

feat: implements http client
  package.json
  packages/core/src/data/contracts/http-client.ts
  packages/core/src/data/contracts/index.ts
  packages/core/src/infra/axios-http-client.ts
  packages/core/src/infra/index.ts
  packages/core/tests/infra/axios-http-client.spec.ts
  tests/mocks/data/http/http-response.mock.ts
  tests/mocks/data/http/index.ts
  tests/mocks/data/index.ts
  tests/mocks/faker/faker-array.ts
  tests/mocks/faker/faker-object.ts
  tests/mocks/faker/index.ts
  tests/mocks/infra/axios.mock.ts
  tests/mocks/infra/index.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

refactor: move axios http client into directory
  packages/core/src/infra/http/axios-http-client.ts
  packages/core/src/infra/http/index.ts
  packages/core/src/infra/index.ts
  packages/core/tests/infra/axios-http-client.spec.ts
Due: eslint --fix, prettier --write

docs: add README
  README-ptbr.md
  README.md
Due: prettier --write

chore: disable eslint rule no-unsafe-assignment
  .eslintrc
Due: none

feat: implements RemoteLoadAddressByZipcodeController
  packages/core/src/presentation/controllers/contracts.ts
  packages/core/src/presentation/controllers/index.ts
  packages/core/src/presentation/controllers/remote-load-address-by-zipcode.controller.ts
  packages/core/tests/data/usecases/remote-load-address-by-zipcode.spec.ts
  packages/core/tests/presentation/controllers/load-address-by-zipcode-controller.spec.ts
  tests/mocks/domain/usecases/lock-address-by-zipcode.stub.ts
Due: eslint --fix, prettier --write

fix: typo error
  packages/core/src/data/usecases/index.ts
  packages/core/src/data/usecases/remote-load-address-by-zip-code.ts
  packages/core/src/domain/usecases/index.ts
  packages/core/src/domain/usecases/load-address-by-zip-code.ts
  packages/core/src/presentation/controllers/index.ts
  packages/core/src/presentation/controllers/remote-load-address-by-zip-code.controller.ts
  packages/core/tests/data/usecases/remote-load-address-by-zip-code.spec.ts
  packages/core/tests/presentation/controllers/load-address-by-zip-code-controller.spec.ts
  tests/mocks/domain/usecases/index.ts
  tests/mocks/domain/usecases/lock-address-by-zip-code.stub.ts
Due: eslint --fix, prettier --write

refactor: modify param to load address by zip code
  packages/core/src/data/usecases/remote-load-address-by-zip-code.ts
  packages/core/src/domain/usecases/load-address-by-zip-code.ts
  packages/core/src/presentation/controllers/contracts.ts
  packages/core/src/presentation/controllers/remote-load-address-by-zip-code.controller.ts
  packages/core/tests/data/usecases/remote-load-address-by-zip-code.spec.ts
  packages/core/tests/presentation/controllers/load-address-by-zip-code-controller.spec.ts
Due: eslint --fix, prettier --write

refactor: change generics of HttpClient contract
  packages/core/src/data/contracts/http-client.ts
  packages/core/src/infra/http/axios-http-client.ts
Due: eslint --fix, prettier --write

refactor: remove unneeded prop from address
  packages/core/src/domain/models/address.model.ts
  tests/mocks/domain/models/address.mock.ts
Due: eslint --fix, prettier --write

fix: typo error
  packages/core/src/data/usecases/remote-load-address-by-zip-code.ts
  packages/core/src/domain/usecases/load-address-by-zip-code.ts
  packages/core/src/presentation/controllers/contracts.ts
  packages/core/src/presentation/controllers/remote-load-address-by-zip-code.controller.ts
  packages/core/tests/data/usecases/remote-load-address-by-zip-code.spec.ts
  packages/core/tests/infra/axios-http-client.spec.ts
  packages/core/tests/presentation/controllers/load-address-by-zip-code-controller.spec.ts
  tests/mocks/domain/usecases/lock-address-by-zip-code.stub.ts
Due: eslint --fix, prettier --write

feat: add ViaCepGateway
  packages/core/src/infra/gateways/index.ts
  packages/core/src/infra/gateways/via-cep/contracts.ts
  packages/core/src/infra/gateways/via-cep/index.ts
  packages/core/src/infra/gateways/via-cep/via-cep.gateway.ts
  packages/core/tests/infra/via-cep-gateway.spec.ts
  tests/mocks/data/http/http-get-client.stub.ts
  tests/mocks/data/http/index.ts
  tests/mocks/infra/index.ts
  tests/mocks/infra/via-cep.mock.ts
Due: eslint --fix, prettier --write

refactor: change validation schema name
  packages/core/src/main/helpers/validation/contracts.ts
  packages/core/src/main/helpers/validation/index.ts
  packages/core/src/main/helpers/validation/validation.ts
Due: eslint --fix, prettier --write

feat: create factory to validate load address
  packages/core/src/main/factories/index.ts
  packages/core/src/main/factories/validation/index.ts
  packages/core/src/main/factories/validation/load-address-by-zip-code-validation.factory.ts
  packages/core/tests/main/factories/validation/load-address-by-zip-code-validation.spec.ts
Due: eslint --fix, prettier --write

chore: configure test ignore for factories
  vitest.config.mts
Due: prettier --write

feat: create factory to ViaCep gateway
  packages/core/src/main/factories/gateways/index.ts
  packages/core/src/main/factories/gateways/via-cep-gateway.factory.ts
  packages/core/src/main/factories/index.ts
Due: eslint --fix, prettier --write

feat: create factory to LoadAddressByZipCode
  packages/core/src/main/factories/index.ts
  packages/core/src/main/factories/usecases/index.ts
  packages/core/src/main/factories/usecases/load-address-by-zip-code.factory.ts
Due: eslint --fix, prettier --write

refactor: use factory to create http client
  packages/core/src/main/factories/clients/http-client.factory.ts
  packages/core/src/main/factories/clients/index.ts
  packages/core/src/main/factories/gateways/via-cep-gateway.factory.ts
  packages/core/src/main/factories/index.ts
Due: eslint --fix, prettier --write

feat: create factory to RemoteLoadAddressByZipCodeController
  packages/core/src/main/factories/controllers/index.ts
  packages/core/src/main/factories/controllers/remote-load-address-by-zip-code-controller.factory.ts
  packages/core/src/main/factories/index.ts
Due: eslint --fix, prettier --write

refactor: ensure RemoteLoadAddressByZipCodeController implements Contract
  packages/core/src/main/factories/controllers/remote-load-address-by-zip-code-controller.factory.ts
  packages/core/src/presentation/contracts/controller.ts
  packages/core/src/presentation/contracts/index.ts
  packages/core/src/presentation/controllers/remote-load-address-by-zip-code.controller.ts
Due: eslint --fix, prettier --write

refactor: move controllers into directory
  packages/core/src/presentation/controllers/address/contracts.ts
  packages/core/src/presentation/controllers/address/index.ts
  packages/core/src/presentation/controllers/address/remote-load-address-by-zip-code.controller.ts
  packages/core/src/presentation/controllers/index.ts
  packages/core/tests/presentation/controllers/load-address-by-zip-code-controller.spec.ts
Due: eslint --fix, prettier --write

chore: update .prettierrc config
  .prettierrc
Due: none

refactor: rename vue package to vue-app
  packages/vue-app/package.json
  packages/vue-app/src/.gitkeep
  packages/vue-app/vitest.config.mts
  tsconfig.json
  vitest.config.mts
  yarn.lock
Due: prettier --write

chore: add vue project
  package.json
  packages/core/package.json
  packages/vue-app/.eslintrc
  packages/vue-app/.gitignore
  packages/vue-app/index.html
  packages/vue-app/package.json
  packages/vue-app/public/vue.svg
  packages/vue-app/src/.gitkeep
  packages/vue-app/src/main/index.ts
  packages/vue-app/src/presentation/App.vue
  packages/vue-app/src/shims-vue.d.ts
  packages/vue-app/src/vite-env.d.ts
  packages/vue-app/tsconfig.json
  packages/vue-app/vite.config.mts
  packages/vue-app/vitest.config.mts
  vite.config.mts
  vitest.config.mts
  yarn.lock
Due: eslint --fix, prettier --write

chore: configure start scripts
  package.json
  packages/vue-app/.gitignore
  packages/vue-app/index.html
  packages/vue-app/package.json
  packages/vue-app/src/main/index.ts
  packages/vue-app/vite.config.mts
Due: eslint --fix, prettier --write

chore: apply lint and format to unformatted files
  .husky/pre-push
  packages/vue-app/vite.config.mjs
  packages/vue-app/vite.config.mjs.map
Due: none

feat: add vue interface
  packages/vue-app/package.json
  packages/vue-app/src/main/index.ts
  packages/vue-app/src/presentation/App.vue
  packages/vue-app/src/presentation/components/statefull/form/form-wrapper.vue
  packages/vue-app/src/presentation/components/statefull/form/index.ts
  packages/vue-app/src/presentation/components/statefull/index.ts
  packages/vue-app/src/presentation/components/stateless/button/default-button.vue
  packages/vue-app/src/presentation/components/stateless/button/index.ts
  packages/vue-app/src/presentation/components/stateless/index.ts
  packages/vue-app/src/presentation/components/stateless/input/index.ts
  packages/vue-app/src/presentation/components/stateless/input/input-field.vue
  packages/vue-app/src/presentation/constants/index.ts
  packages/vue-app/src/presentation/constants/providers.ts
  packages/vue-app/src/scss/_form-container.scss
  packages/vue-app/src/scss/_reset.scss
  packages/vue-app/src/scss/_variables.scss
  packages/vue-app/src/scss/app.scss
  packages/vue-app/tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

refactor: simplify exportations
  packages/core/src/index.ts
  packages/core/src/main/factories/controllers/remote-load-address-by-zip-code-controller.factory.ts
  packages/core/src/main/factories/validation/load-address-by-zip-code-validation.factory.ts
  packages/core/src/main/helpers/validation/validation.ts
  packages/core/src/presentation/contracts/controller.ts
  packages/core/src/presentation/controllers/address/contracts.ts
  packages/core/src/presentation/controllers/address/index.ts
  packages/core/src/presentation/controllers/address/remote-load-address-by-zip-code.controller.ts
  packages/core/src/presentation/index.ts
  packages/core/src/presentation/validation/validators/length.validator.ts
  packages/core/src/presentation/validation/validators/required-field.validation.ts
  packages/core/src/presentation/validation/validators/validation-composite.ts
  packages/core/tests/__mocks__/presentation/validation.stub.ts
  packages/core/tests/main/helpers/validation.spec.ts
  packages/core/tests/presentation/controllers/load-address-by-zip-code-controller.spec.ts
  packages/core/tests/presentation/validation/validators/length-validation.spec.ts
  packages/core/tests/presentation/validation/validators/required-field-validation.spec.ts
  packages/core/tests/presentation/validation/validators/validation-composite.spec.ts
Due: eslint --fix, prettier --write

refactor: move component logic to hook
  packages/vue-app/package.json
  packages/vue-app/src/presentation/components/statefull/form/form-wrapper.vue
  packages/vue-app/src/presentation/controllers/index.ts
  packages/vue-app/src/presentation/controllers/load-address-by-zip-code/index.ts
  packages/vue-app/src/presentation/controllers/load-address-by-zip-code/load-address-by-zip-code.controller.ts
  packages/vue-app/src/presentation/controllers/load-address-by-zip-code/types.ts
  packages/vue-app/src/presentation/factories/controllers/index.ts
  packages/vue-app/src/presentation/factories/controllers/load-address-by-zip-code.factory.ts
  packages/vue-app/src/presentation/factories/index.ts
Due: eslint --fix, prettier --write

refactor: simplify vue-app
  packages/vue-app/src/App.vue
  packages/vue-app/src/components/statefull/form/form-wrapper.vue
  packages/vue-app/src/components/statefull/form/index.ts
  packages/vue-app/src/components/statefull/index.ts
  packages/vue-app/src/components/stateless/button/default-button.vue
  packages/vue-app/src/components/stateless/button/index.ts
  packages/vue-app/src/components/stateless/index.ts
  packages/vue-app/src/components/stateless/input/index.ts
  packages/vue-app/src/components/stateless/input/input-field.vue
  packages/vue-app/src/composition/controllers/index.ts
  packages/vue-app/src/composition/controllers/load-address-by-zip-code.factory.ts
  packages/vue-app/src/composition/index.ts
  packages/vue-app/src/controllers/index.ts
  packages/vue-app/src/controllers/load-address-by-zip-code/index.ts
  packages/vue-app/src/controllers/load-address-by-zip-code/load-address-by-zip-code.controller.ts
  packages/vue-app/src/controllers/load-address-by-zip-code/types.ts
  packages/vue-app/src/main.ts
  packages/vue-app/src/presentation/constants/index.ts
  packages/vue-app/src/presentation/constants/providers.ts
Due: eslint --fix, prettier --write
